<mat-card  class="login-card" >

  <div style="text-align: center;"> <h2>Enterprise Dashboard Login</h2>
  <h3>Welcome back</h3>
  <h4>Login to continue</h4></div>

  <form [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>

      <input
        matInput
        formControlName="email">

      <mat-error
        *ngIf="loginForm.get('email')?.hasError('required')">

        Email is required

      </mat-error>

      <mat-error
        *ngIf="loginForm.get('email')?.hasError('email')">

        Invalid email

      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline">

      <mat-label>Password</mat-label>

      <input
        matInput
        type="password"
        formControlName="password">

      <mat-error
        *ngIf="loginForm.get('password')?.hasError('required')">

        Password is required

      </mat-error>

    </mat-form-field>

    <mat-checkbox formControlName="rememberMe">
      Remember Me
    </mat-checkbox>

    <button
      mat-raised-button
       class="login-btn" type="submit" [disabled]="loginForm.invalid">

      Login

    </button>
    <a style="text-align: center;"> Forgot password? </a>
  </form>

</mat-card>