<h2>Edit Employee</h2>

<form [formGroup]="employeeForm"
      (ngSubmit)="onSubmit()">

  <label>Name</label>
  <input type="text"
         formControlName="name">

  <br><br>

  <label>Email</label>
  <input type="email"
         formControlName="email">
<div *ngIf="
employeeForm.get('email')?.invalid &&
employeeForm.get('email')?.touched
">
  Valid email is required
</div>
  <br><br>

  <label>Department</label>
  <input type="text"
         formControlName="department">

  <br><br>

  <label>Salary</label>
  <input type="number"
         formControlName="salary">

  <br><br>

  <button type="submit">
    Update Employee
  </button>

</form>