<mat-toolbar color="primary" style="background-color: rgb(208, 246, 246);">
  <button mat-icon-button (click)="toggleMenu()"  class="menu-btn" type="button" aria-label="Open menu">
    <mat-icon>menu</mat-icon>
  </button>

    <div class="brand">
      
      <span>Employee Management System</span>
    </div>

  <span class="spacer"></span>
  <button mat-button (click)="logout()" class="logout-btn" type="button">
    <mat-icon>logout</mat-icon>
    Logout </button>
</mat-toolbar>

<mat-sidenav-container style="background: linear-gradient(
    135deg,
    #f5f7fa 0%,
    #e4e8f0 100%
  );">

  <mat-sidenav [opened]="isMenuOpen" mode="side" opened  style="background-color: blanchedalmond;">

    <button
      mat-button
      routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </button>

    <br><br>

    <button
      mat-button
      routerLink="/employees">
      <mat-icon>people</mat-icon>
      Employees
    </button>

  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>